/* line 17, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 37, ../sass/screen.scss */
body {
  background-color: #f6f6f6;
  font-family: Raleway, Arial;
  font-size: 62.5%;
}

/* line 43, ../sass/screen.scss */
.clear, header section.main nav > ol:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
}

/* line 45, ../sass/screen.scss */
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
}

/* line 80, ../sass/screen.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 83, ../sass/screen.scss */
header section.main {
  -webkit-box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  background-color: white;
  position: relative;
  z-index: 5;
}
/* line 88, ../sass/screen.scss */
header section.main h1 {
  float: left;
}
/* line 90, ../sass/screen.scss */
header section.main h1 a {
  display: block;
  height: 80px;
  width: 250px;
}
/* line 94, ../sass/screen.scss */
header section.main h1 a img {
  display: block;
}
/* line 97, ../sass/screen.scss */
header section.main nav {
  float: right;
}
/* line 99, ../sass/screen.scss */
header section.main nav h2 {
  display: none;
}
/* line 100, ../sass/screen.scss */
header section.main nav > ol {
  border-right: 1px solid #e6e6e6;
}
/* line 102, ../sass/screen.scss */
header section.main nav > ol > li {
  display: block;
  float: left;
  position: relative;
}
/* line 106, ../sass/screen.scss */
header section.main nav > ol > li > a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-bottom: solid 3px transparent;
  color: #a6a6a6;
  font-size: 1.3em;
  font-weight: 400;
  display: block;
  line-height: 1;
  padding: 32px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 190px;
  z-index: 0;
}
/* line 122, ../sass/screen.scss */
header section.main nav > ol > li > a:after {
  border-left: solid 1px #e6e6e6;
  content: " ";
  display: block;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 132, ../sass/screen.scss */
header section.main nav > ol > li > ol {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: white;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  -webkit-transition-property: opacity, top, visibility;
  -moz-transition-property: opacity, top, visibility;
  -o-transition-property: opacity, top, visibility;
  transition-property: opacity, top, visibility;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  left: -17.5px;
  opacity: 0;
  position: absolute;
  top: 50px;
  visibility: hidden;
  width: 225px;
  z-index: 5;
}
/* line 56, ../sass/screen.scss */
header section.main nav > ol > li > ol:after, header section.main nav > ol > li > ol:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 66, ../sass/screen.scss */
header section.main nav > ol > li > ol:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}
/* line 72, ../sass/screen.scss */
header section.main nav > ol > li > ol:before {
  border-color: rgba(230, 230, 230, 0);
  border-bottom-color: #e6e6e6;
  border-width: 11px;
  margin-left: -11px;
}
/* line 145, ../sass/screen.scss */
header section.main nav > ol > li > ol li {
  background-color: white;
  border-bottom: solid 1px #e6e6e6;
}
/* line 148, ../sass/screen.scss */
header section.main nav > ol > li > ol li a {
  -webkit-transition-property: color, border-color;
  -moz-transition-property: color, border-color;
  -o-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-left: solid 5px transparent;
  color: #e6e6e6;
  display: block;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px 20px;
  text-transform: uppercase;
}
/* line 159, ../sass/screen.scss */
header section.main nav > ol > li > ol li a:hover {
  border-color: #0661a6;
  color: #0661a6;
}
/* line 161, ../sass/screen.scss */
header section.main nav > ol > li > ol li:last-child {
  border: none;
}
/* line 164, ../sass/screen.scss */
header section.main nav > ol > li.current a, header section.main nav > ol > li:hover a {
  color: #24374a;
}
/* line 165, ../sass/screen.scss */
header section.main nav > ol > li.current a {
  border-bottom-color: #0661a6;
}
/* line 166, ../sass/screen.scss */
header section.main nav > ol > li:hover > ol {
  opacity: 1;
  top: 70px;
  visibility: visible;
}
/* line 168, ../sass/screen.scss */
header section.main nav > ol > li.home a {
  font-size: 1em;
  padding: 25.5px 15px;
  width: 90px;
}
/* line 172, ../sass/screen.scss */
header section.main nav > ol > li.home a strong {
  display: none;
}
/* line 173, ../sass/screen.scss */
header section.main nav > ol > li.home a span.icon-home {
  font-size: 2.6em;
}
/* line 177, ../sass/screen.scss */
header section.main nav > ol:after {
  content: " ";
}
/* line 181, ../sass/screen.scss */
header section.carousel {
  -webkit-box-shadow: rgba(166, 166, 166, 0.75) 0 0 5px;
  -moz-box-shadow: rgba(166, 166, 166, 0.75) 0 0 5px;
  box-shadow: rgba(166, 166, 166, 0.75) 0 0 5px;
  background-color: white;
  height: 420px;
  position: relative;
  width: 100%;
  z-index: 0;
}
/* line 188, ../sass/screen.scss */
header section.carousel h2.title {
  display: none;
}
/* line 189, ../sass/screen.scss */
header section.carousel span.trame {
  background: url(../images/trame_foncee.png) scroll repeat 0 0 transparent;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* line 202, ../sass/screen.scss */
#carousel {
  height: 420px;
  position: relative;
  width: 100%;
}
/* line 206, ../sass/screen.scss */
#carousel ul {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
/* line 212, ../sass/screen.scss */
#carousel ul li {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 221, ../sass/screen.scss */
#carousel ul li .bbg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 232, ../sass/screen.scss */
#carousel ul li .titles {
  height: 100%;
  position: relative;
  z-index: 10;
}
/* line 236, ../sass/screen.scss */
#carousel ul li .titles > div {
  -webkit-transition-property: bottom;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  bottom: 20%;
  position: absolute;
  right: 0;
}
/* line 242, ../sass/screen.scss */
#carousel ul li .titles > div h2, #carousel ul li .titles > div h3 {
  text-shadow: black 0 0 3px;
  color: #f6f6f6;
}
/* line 246, ../sass/screen.scss */
#carousel ul li .titles > div h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
/* line 247, ../sass/screen.scss */
#carousel ul li .titles > div h3 {
  font-size: 2.0em;
}
/* line 250, ../sass/screen.scss */
#carousel ul li img {
  display: none;
}
/* line 251, ../sass/screen.scss */
#carousel ul li.resphidden {
  opacity: 0;
  z-index: 0;
}
/* line 254, ../sass/screen.scss */
#carousel ul li.resphidden .titles > div {
  bottom: 25%;
}
/* line 258, ../sass/screen.scss */
#carousel > span.resppagination {
  bottom: 15px;
  display: block;
  height: 15px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}
/* line 267, ../sass/screen.scss */
#carousel > span.resppagination > span {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 3px;
  padding: 0;
  width: 15px;
}
/* line 274, ../sass/screen.scss */
#carousel > span.resppagination > span > span {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  text-shadow: black 0 0 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 400;
}
/* line 281, ../sass/screen.scss */
#carousel > span.resppagination > span > span.active, #carousel > span.resppagination > span > span:hover {
  color: white;
}

/* line 287, ../sass/screen.scss */
article {
  -webkit-box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  box-shadow: rgba(166, 166, 166, 0.5) 0 0 5px;
  background-color: white;
  padding: 80px 20px;
}
/* line 292, ../sass/screen.scss */
article header h1 {
  font-size: 3.0em;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 20px;
}
/* line 300, ../sass/screen.scss */
article .rich h2, article .rich h3, article .rich h4, article .rich h5, article .rich h6 {
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 30px;
}
/* line 306, ../sass/screen.scss */
article .rich h2 {
  font-size: 2.0em;
}
/* line 307, ../sass/screen.scss */
article .rich h3, article .rich h4, article .rich h5, article .rich h6 {
  color: #a6a6a6;
  font-size: 1.8em;
}
/* line 311, ../sass/screen.scss */
article .rich p {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 20px;
}
/* line 317, ../sass/screen.scss */
article .rich strong {
  font-weight: bold;
}
/* line 318, ../sass/screen.scss */
article .rich em {
  font-style: italic;
}
/* line 319, ../sass/screen.scss */
article .rich a {
  color: #0661a6;
  text-decoration: underline;
}
/* line 322, ../sass/screen.scss */
article .rich a:hover {
  text-decoration: none;
}
/* line 324, ../sass/screen.scss */
article .rich ul, article .rich ol {
  list-style-position: inside;
}
/* line 325, ../sass/screen.scss */
article .rich ul {
  list-style-type: square;
}
/* line 326, ../sass/screen.scss */
article .rich ol {
  list-style-type: decimal;
}
/* line 327, ../sass/screen.scss */
article .rich > ul, article .rich > ol {
  margin-bottom: 20px;
}
/* line 328, ../sass/screen.scss */
article .rich li {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 7px;
}
/* line 333, ../sass/screen.scss */
article .rich li li {
  font-size: 1.0em;
}
/* line 334, ../sass/screen.scss */
article .rich li ul, article .rich li ol {
  margin-top: 7px;
  padding-left: 20px;
}

/* line 339, ../sass/screen.scss */
body > footer {
  position: relative;
  z-index: 300;
}
/* line 343, ../sass/screen.scss */
body > footer section.top {
  background: url(../images/footer.jpg) scroll no-repeat center center transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150px;
  position: relative;
  width: 100%;
}
/* line 349, ../sass/screen.scss */
body > footer section.top > h2 {
  display: none;
}
/* line 350, ../sass/screen.scss */
body > footer section.top span.trame {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  height: 100%;
  width: 100%;
}
/* line 356, ../sass/screen.scss */
body > footer section.top a {
  display: block;
  left: 50%;
  margin-left: -125px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  z-index: 100;
}
/* line 364, ../sass/screen.scss */
body > footer section.top a img {
  display: block;
}
/* line 367, ../sass/screen.scss */
body > footer section.bottom {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
/* line 371, ../sass/screen.scss */
body > footer section.bottom h2 {
  color: #a6a6a6;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 379, ../sass/screen.scss */
body > footer section.bottom li {
  color: black;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.3em;
}
/* line 384, ../sass/screen.scss */
body > footer section.bottom li a {
  color: #0661a6;
  text-decoration: underline;
}
/* line 387, ../sass/screen.scss */
body > footer section.bottom li a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  /* line 396, ../sass/screen.scss */
  header section.main h1 {
    float: none;
  }
  /* line 398, ../sass/screen.scss */
  header section.main h1 a {
    margin: 0 auto;
  }

  /* line 402, ../sass/screen.scss */
  .container {
    width: 100%;
  }
}
